* {
    box-sizing: border-box;
}

main {
    align-items: center;
    text-align: center;
}


p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button {
    padding: 0%;
    margin: 0%;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0px;
    padding: 5px;
    background-color: white;
    width: 1000px;
    margin-top: 100px;
    align-items: start;
    border-color: gray;
    border-width: 1px;
    border-radius: 20px;
    margin-bottom: 50px;
    padding-top: 25px;
}

.produto {
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
}

.img-produto {
    height: 200px;
    width: 100%;
}

.produto:hover {
    transform: scale(1.2);
}

.preco {
    color: orangered;
}

.vendidos {
    font-size: 12px;
    margin-left: 150px;
    color: gray;
}

.tendencia {
    position: relative;
    top: 135px;
    color: brown;
}

.classif {
    position: relative;
    top: 20px;
    right: 50px;
}


.produtodetail {
    background-color: white;
    padding-bottom: 100px;
    display: flex;
    border-radius: 10px;
}


.foto-info {
    width: 450px;
    height: 500px;
}

.informacoes-produto {
    font-family: 'Times New Roman', Times, serif;
}

.nome-produto-info {
    margin: 0;
}

.rating-info {
    position: relative;
    right: 100px;
    top: 15px;
}

.avaliacoes-info {
    font-size: 15px;
    position: relative;
    bottom: 18px;
    left: 50px;
}

.vendidos-info {
    font-size: 15px;
    position: relative;
    bottom: 40px;
    left: 180px;
}

.preco-info {
    color: orangered;
}

.frete-info {
    font-size: 20px;
}

.frete-campo {
    border-color: darkslategray;
    border-width: 1px;
    border-radius: 50px;
    width: 200px;
    justify-content: center;
    text-align: center;
}

.frete-botao {
    font-size: 15px;
    background-color: #e0604f;
    color: white;
    border-radius: 50px;
}

.quantidade-info {
    font-size: 20px;
}

.comprar-agora-info {}

.add-carrinho-info {}