* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.topo {
  background-color: #1b1e23;
  padding: 35px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pesquisar {
  height: 35px;
  font-size: large;
  width: 600px;
  border-style: solid;
  border-radius: 10px;
  color: black;
  padding-left: 10px;
  margin: 0;
}


.logo {
  width: 200px;
}

.carrinho {
  margin: 0;
  color: white;
}

Button {
  margin: 0;
}