.loginregistro {
    align-items: center;
    margin-top: 100px;
    align-content: center;
    background-color: white;
    padding: 50px;
    height: 600px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.botao {
    background-color: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.botao.ativo {
    background-color: #FFD700;
}

.botao h2 {
    color: white;
}

.entrar,
.registrar {
    display: grid
}

.input {
    margin-top: 20px;
    width: 500px;
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
}

.entrar button,
.registrar button {
    background-color: rgb(91, 5, 5);
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
    color: white;
    margin-top: 25px;
    transition: transform .3s;
}

.entrar button:hover,
.registrar button:hover {
    transform: scale(1.05);
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.entrar button:hover,
.registrar button:hover {
    animation: pulsar 1s infinite;
}