.produtodetail {
    background-color: white;
    padding: 50px;
    display: flex;
    border-radius: 10px;
}


.foto-info {
    width: 450px;
    height: 500px;
}

.informacoes-produto {
    font-family: 'Times New Roman', Times, serif;
}

.nome-produto-info {
    margin: 0;
}

.rating-info {
    position: relative;
    right: 100px;
    top: 15px;
}

.avaliacoes-info {
    font-size: 15px;
    position: relative;
    bottom: 18px;
    left: 50px;
}

.vendidos-info {
    font-size: 15px;
    position: relative;
    bottom: 40px;
    left: 180px;
}

.preco-info {
    color: orangered;
    margin-bottom: 40px;
}

.frete-info {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(56, 48, 48);
}

.frete-campo {
    border-color: darkslategray;
    border-width: 1px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.frete-botao {
    font-size: 15px;
    background-color: #e0604f;
    color: white;
    border-radius: 50px;
    padding: 5px;
    transition: transform .3s;
}

.frete-botao:hover {
    transform: scale(1.05);
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.frete-botao:hover {
    animation: pulsar 1s infinite;
}

.quantidade-info {
    font-size: 20px;
    position: relative;
    right: 100px;
    color: rgb(56, 48, 48);
}

.quantidade-num {
    border-color: darkslategray;
    border-width: 1px;
    border-radius: 50px;
    width: 40px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.comprar-agora-info {
    background-color: blue;
    margin-top: 130px;
    margin-right: 40px;
    margin-left: 30px;
    color: whitesmoke;
    border-radius: 10px;
    padding: 18px;
    font-size: 15px;
    transition: transform .3s;
}

.comprar-agora-info:hover {
    transform: scale(1.05);
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.comprar-agora-info:hover {
    animation: pulsar 1s infinite;
}

.add-carrinho-info {
    background-color: chocolate;
    margin-top: 130px;
    color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    display: inline-flex;
    position: relative;
    top: 10px;
    transition: transform .3s;
}

.add-carrinho-info:hover {
    transform: scale(1.05);
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.add-carrinho-info:hover {
    animation: pulsar 1s infinite;
}

.add-carrinho-info img {
    width: 30px;
    height: 30px;

}

.add-carrinho-info p {
    margin-top: 5px;
    margin-left: 5px;
}

.desc-produto {
    background-color: whitesmoke;
    margin-top: 20px;
    min-height: 500px;
    border-radius: 10px;
}

.desc-produto p {
    font-size: 15px;
    max-width: 1000px
}