* {
    box-sizing: border-box;
}

main {
    align-items: center;
    text-align: center;
}

.categorias {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
    padding: 25px;
    background-color: white;
    width: 1000px;
    margin-top: 50px;
    align-items: start;
    border-color: gray;
    border-width: 1px;
    border-radius: 20px;
}


.cat {
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
    /* Adiciona uma transição suave ao efeito */
}

.img-cat {
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.cat:hover {
    transform: scale(1.5);
    /* Aumenta o tamanho da imagem em 10% quando o mouse passa sobre ela */
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button {
    padding: 0%;
    margin: 0%;
}